/*******************************************************************/
/*******************************************************************/
/***************************** NORMALIZE ***************************/
/*******************************************************************/
/*******************************************************************/

:root{
  --color-main: #997ABF;
  --color-text-main: #ffffff;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  font-size: 14px;
  /* font-weight: 400; */
  font-weight: 600;
  line-height: 17px;
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: var(--color-text-main);
}
button,input,h1,h2,h3,h4,h5,h6,p,a,ul,li,div,span,table,thead,tbody,td,textarea{
  margin: 0;
  outline: 0 none;
  border: none;
  border-collapse: collapse;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
button, input{
  font: inherit;
}
li{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
  line-height: 0;
}
textarea{
  resize: vertical;
  font-family: inherit;
}
a{
  color: var(--color-main);
}
a:active, a:focus, a:hover, a:link, a:visited {
  outline: 0 none;
}
*:focus {
  outline: 0 none;
}
iframe{
  display: block;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/*******************************************************************/
/*******************************************************************/
/************************** NORMALIZE END **************************/
/*******************************************************************/
/*******************************************************************/


/*******************************************************************/
/*******************************************************************/
/******************************** BASE *****************************/
/*******************************************************************/
/*******************************************************************/
.page{
  position: relative;
}
.container{
  margin: 0 auto;
  max-width: 1420px;
  padding: 0 30px 0 30px;
}


@media only screen and (max-width: 767px){
  .container{
    padding: 0 15px 0 15px;
  }
}

/*******************************************************************/
/*******************************************************************/
/****************************** BASE END ***************************/
/*******************************************************************/
/*******************************************************************/